.padrecarro{
    border: none;
    background: none;
    margin-left: 350px;
}

.padrecarro img{
    width: 50px;
}

.numerocarro{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(6, 0, 62);
    border-radius: 100px;
}