.padrenavbar{
    top: 0;
    position: fixed;
    z-index: 1;
    background-color: rgb(216, 216, 216);
    border-bottom: solid 5px blue;
}

.apartadosnavbar{
    font-size: 20px;
    margin-left: 100px;
    display: flex;
}

.apartadosnavbar a:hover{
    background-color: rgba(0, 0, 255, 0.573);
}

.botoninicio{
    color: black;
    margin-top: 2px;
    padding: 5px 5px 5px 5px;
}

.botonapartados{
color: black;
display: flex;
justify-content: space-around;
margin: 5px;
background-color: rgba(26, 26, 26, 0.19);
}